<div class="container">
  <mat-card class="error-card" *ngIf="errorMessage">
    <mat-card-content>
      <p> {{ errorMessage }} </p>
    </mat-card-content>
  </mat-card>
  <mat-card class="reset-password-card">
    <mat-card-title>Reset your password</mat-card-title>
    <form novalidate [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()">
      <mat-card-content>
        <p>Enter your email address and we will send you a link to reset your password</p>
      </mat-card-content>
      <mat-card-content>
        <mat-form-field class="full-width">
          <input matInput name="email" formControlName="email" [errorStateMatcher]="errorMatcher">
          <mat-error *ngIf="resetPasswordForm.get('email').hasError('email')">
            Please enter a valid email address
          </mat-error>
          <mat-error *ngIf="resetPasswordForm.get('email').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit" [disabled]="resetPasswordForm.invalid">Send password
          reset email</button>
      </mat-card-content>
    </form>
  </mat-card>
</div>